#fondo_principal {
    -fx-background-color: #FFFFFF;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
}